
# DHIS2 instance to connect to
DHIS2_BASE_URL=
DHIS2_PAT=
DATA_SERVICE_PORT=3003 

# RabbitMQ configuration
RABBITMQ_URI=
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PREFETCH_COUNT=


DATABASE_URL=