@import 'tailwindcss';

@theme {
    --color-primary-500: rgb(44, 102, 147);
}

body {
    background: #f8f9fa;
}

li.active {
    background: #d5dde5 !important;
    font-weight: bold;
}

.icon-size-48 > svg {
    width: 48px !important;
    height: 48px !important;
}

.icon-size-64 > svg {
    width: 64px !important;
    height: 64px !important;
}
